<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  <div>   
      <mat-grid-list cols="1" rowHeight="200:1">
          <mat-grid-tile>
              <div class = "image-div">
                  <img class = "tradelogo" src="../../assets/images/tradebullz_logo.png" alt="Logo">
              </div>
              <!-- <div class="alert">
                  <app-alert></app-alert>
              </div> -->
          </mat-grid-tile>        
      </mat-grid-list>
  
      <div class="main-div">
        <mat-card class="cardCss">
          <mat-card-header class="mat-card-div">
          <mat-card-title >Sign Up</mat-card-title>
          <!-- <mat-card-subtitle>Sign up with your regular account</mat-card-subtitle>    -->
         </mat-card-header>
         <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div>
              <mat-form-field class="example-full-width">
                <mat-label for="phnNum">Phone</mat-label>
                <input #phnNum matInput type="text" id="phnNum" placeholder="" formControlName="phnNum" maxlength="10"
                       [ngClass]="{ 'is-invalid': f.phnNum.dirty && f.phnNum.invalid }">
                <app-form-error-container class="invalid-feedback" [control]="registerForm.get('phnNum')">
                  <app-form-error type="required">
                    Phone number is required.
                  </app-form-error>
                  <app-form-error type="pattern">
                    Please enter a valid phone number.
                  </app-form-error>
                </app-form-error-container>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-full-width">
                <mat-label for="email">Email</mat-label>
                <input matInput type="text" id="email" placeholder="" formControlName="email" [ngClass]="{ 'is-invalid': f.email.dirty && f.email.errors }">
                <app-form-error-container class="invalid-feedback" [control]="registerForm.get('email')">
                  <app-form-error type="required">
                    Email is required
                  </app-form-error>
                  <app-form-error type="maxlength">
                    Email length should be 100 characters
                  </app-form-error>
                  <app-form-error type="pattern">
                    Email id is invalid
                  </app-form-error>
                </app-form-error-container>
              </mat-form-field>
            </div>
            <div class="row"> 
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  <mat-label for="password">Password</mat-label>
                  <input matInput type="password" id="password" formControlName="passwd" 
                    [ngClass]="{ 'is-invalid': f.passwd.dirty && f.passwd.invalid }"/> 
                    <app-form-error-container class="invalid-feedback" [control]="registerForm.get('passwd')">
                      <!-- <app-form-error type="required">
                        Password is required
                      </app-form-error> -->
                      <app-form-error type="minlength">
                        Password must be at least 6 characters
                      </app-form-error>
                    </app-form-error-container>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  <mat-label for="cnfmPassword">Confirm Password</mat-label>
                  <input matInput type="password" id="cnfmPassword" formControlName="cnfmPasswd"
                  [ngClass]="{ 'is-invalid': registerForm && f.cnfmPasswd.dirty && registerForm.hasError('confirmPassword') }"/>
                  <app-form-error-container class="invalid-feedback" [group]="registerForm">
                    <app-form-error type="confirmPassword">
                      Password and Confirm password didn't match
                    </app-form-error>
                    <!-- <app-form-error type="required">
                      Confirm password is required
                    </app-form-error> -->
                  </app-form-error-container>
                </mat-form-field>
              </div>
            </div>
            <div class="mb-3">
              <mat-form-field class="example-full-width">
                <mat-label for="ref">Referal Code</mat-label>
                <input matInput type="text" id="ref" formControlName="ref"
                   [ngClass]="{ 'is-invalid': f.ref.dirty && f.ref.invalid }"/>
                <app-form-error-container class="invalid-feedback" [control]="registerForm.get('ref')">
                  <!-- <app-form-error type="required">
                    Referral code is required
                  </app-form-error>
                  <app-form-error type="checkspaceAtStartEnd">
                    Space not allowed at start.
                  </app-form-error> -->
                </app-form-error-container> 
              </mat-form-field>
            </div>
            <div class="row m-t-25 text-left">
              <div col-md-12>
                <div class="checkbox-fade fade-in-primary">
                  <div>
                    <mat-checkbox color="primary" class="align-self-center" formControlName="tc" name="checkbox" value="check">I agree to the&nbsp;</mat-checkbox>
                    <a class="link-text" (click)="openDialog()">Terms & Conditions.</a>
                  </div>
                </div>
              </div>
            </div>
            <section>
              <div class="matBtn">
                <button class="btn btn-primary btn-block" color="primary" [disabled]="registerForm.invalid || (registerForm.get('tc').value === false)">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Sign Up Now
              </button>
              </div>
            </section>
            <section>
              <div style="margin-top:10px">
                <app-alert-loginscreens></app-alert-loginscreens>
              </div>
            </section>
          </form>  
          <section>
            <div class="reg-div">
              <mat-label for="ref">Already on TradeBullz? </mat-label>
              <a routerLink="/login" class="reg-text" >Sign In </a>
            </div>
          </section>
        </mat-card>
      </div>
    </div>

  <ng-template #tcDialog>
      <button class="close" mat-button (click)="dialogRef.close()">X</button>
      <h1 matDialogTitle>Terms & Conditions</h1>
      <hr>
      <div matDialogContent>
          <app-terms-conditions></app-terms-conditions>
      </div>
      <div matDialogActions class="action-button-align">
          <button class="btn btn-primary" style="width:100%; padding:10px" cdkFocusInitial (click)="dialogRef.close()">
              Ok
          </button>
      </div>
  </ng-template>
</body>
