<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <div>   
        <mat-grid-list cols="1" rowHeight="200:1">
            <mat-grid-tile>
                <div class = "image-div">
                    <img class = "tradelogo" src="../../assets/images/tradebullz_logo.png" alt="Logo">
                </div>
                <div class="alert">
                    <app-alert></app-alert>
                </div>
            </mat-grid-tile>        
        </mat-grid-list>
        <div class="view"> 
            <div class="main-div">
                <mat-card class="cardCss">
                    <mat-card-header class="mat-card-div">
                        <mat-card-title class="text-left">Recover your password</mat-card-title>
                        <mat-card-subtitle>Enter registered email to reset the password*</mat-card-subtitle>
                    </mat-card-header>
                    <form class="example-form" [formGroup]="emailForm" (ngSubmit)="submitDetails()">
                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-label for="email">Your Email Address<span class="required">*</span></mat-label>
                                <input #email matInput type="text" id="email" placeholder="" formControlName="email" [ngClass]="{ 'is-invalid': emailForm.get('email').dirty && emailForm.get('email').invalid }">
                                    <app-form-error-container class="invalid-feedback"
                                            [control]="emailForm.get('email')">
                                        <app-form-error type="required">
                                            Email is required.
                                        </app-form-error>
                                        <app-form-error type="pattern">
                                            Email is invalid.
                                        </app-form-error>
                                    </app-form-error-container>
                            </mat-form-field>
                        </div>
                    
                    </form>
                    <section>
                        <div class="matBtn">
                            <button class="btn btn-primary btn-block" color="primary" [disabled]="emailForm.invalid"
                              (click)="submitDetails()">Reset Password<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span></button>
                        </div>
                    </section>
                    <section>
                        <div class="d-flex justify-content-end" style="margin-top: 20px;">
                            <mat-label style="font-weight: 550; font-size: 13px;">Back to&nbsp;</mat-label>
                            <a routerLink="/login" class="link-text"> Sign In.</a>    
                        </div>
                    </section>
                </mat-card>
            </div>
        </div>
    </div>
</body>  