
.shadow-none {
  box-shadow: none !important;
}

.align-elements {
  margin-right: 0.5rem
}

.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

.login-div {
  background-color: #f2f7fb;
}
.main-div{
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-div{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  // width: 100%;
}

.example-full-width {
  width: 100%;

}

.cardCss {
  position: fixed;
  min-width: 30vw;
  padding: 25px;
  min-height: 25vh;
  align-self: center;
}

.btn {
  width: 100%;
  height: 45px;
  color: #fff;
  cursor: pointer;
}
.mat-label {
  color:#333;
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: 14px;        
}

.reg-div {
  margin-top: 30px;
  //color:#37474f; 
}

.link-text {
  font-weight: 550;
  font-size: 13px;
  text-align: right!important;
  font-family: "Open Sans",sans-serif;
  text-decoration: none;
  //color: #37474f;
}

.alert {
  display:flex;
  justify-content:center;
  align-items:center;
  position: absolute;
  width:100%;
  left:0%;
  top:10px;
}
