<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  <div>   
      <mat-grid-list cols="1" rowHeight="200:1">
          <mat-grid-tile>
              <div class = "image-div">
                  <img class = "tradelogo" src="../../assets/images/tradebullz_logo.png" alt="Logo">
              </div>
              <div class="alert">
                  <app-alert></app-alert>
              </div>
          </mat-grid-tile>        
      </mat-grid-list>
      <div class="view"> 
          <div class="main-div">
              <mat-card class="cardCss">
                  <mat-card-header class="mat-card-div">
                      <mat-card-title class="text-success">Let's Confirm your Email</mat-card-title>
                      <mat-card-subtitle>Enter the code sent to your mail id*</mat-card-subtitle>
                  </mat-card-header>
                  <form class="example-form" [formGroup]="otpForm">
                      <div>
                          <mat-form-field class="example-full-width">
                              <mat-label for="otp">Enter Otp</mat-label>
                              <input #otp matInput type="text" id="otp" formControlName="otp"
                              placeholder="" maxlength="6"
                              [ngClass]="{ 'is-invalid': otpForm.get('otp').dirty && otpForm.get('otp').invalid }">
                              <app-form-error-container class="invalid-feedback" [control]="otpForm.get('otp')">
                                <app-form-error type="required">
                                  Otp is required.
                                </app-form-error>
                                <app-form-error type="pattern">
                                  Otp should be 6 digit number
                                </app-form-error>
                              </app-form-error-container>
                          </mat-form-field>
                      </div>
                      <section>
                        <div class="matBtn">
                            <button class="btn btn-primary btn-block" color="primary" [disabled]="otpForm.invalid"
                            (click)="verifyOtp()">Verify Otp<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span></button>
                        </div>
                     </section>
                  </form>
                  <section>
                    <div class="reg-div">
                      <mat-label>Didn't receive the code? </mat-label>
                      <a class="reg-text" style="cursor: pointer" (click)="generateOtp()"
                      *ngIf="otpCounter && generateOtpBtn" color="primary"> Send again</a>
                    </div>
                  </section>
              </mat-card>
          </div>
      </div>
  </div>
</body>  