<!-- <div class="view">
    <div class="primary-class">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <div class="card" style="margin-top: 4rem">
  
              <div class="card-body pb-3">
  
                <h4 class="card-title intraday_title">
                  <i class="fas fa-rupee-sign icon-color"></i>Intraday
                  Trending Stocks L1</h4>
                <p class="text-muted">Algo short detail goes here</p>
                <div class="form-group">
                  <label for="capital" class="text-dark">Maximum capital</label>
                  <input type="number" class="form-control" id="capital" min="500" step="100"
                         placeholder="Enter capital in multiple of 100">
                </div>
                <div style="display: flex">
                  <label class="text-dark" style="margin-right: 1rem">Trade daily</label>
                  <mat-slide-toggle color=primary (change)="changed($event)">{{checkDailyRuns}}</mat-slide-toggle>
                </div>
                <hr>
                <div *ngIf="runStatus">
                  <label class="text-dark">Status: <span style="color: #28a745;
      font-weight: 500">Running</span></label>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                  </div>
                </div>
                <div *ngIf="!runStatus">
                  <label class="text-dark">Status: <span style="color: #dc3545;
      font-weight: 500">Stopped</span></label>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                  </div>
                </div>
                <hr>
                <button type="button" class="btn btn-primary align-elements" (click)="stopRun()">Exit positions & stop
                </button>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="construction_view">
    <!-- <div class="row">
      <div class="col-sm-5">
        <img src="../../assets/images/construction.gif" alt="construction">
      </div>
     <div class="col-sm-7">
      <img style="padding: 5vw 5vw; float:left" src="../../assets/images/under-construction-bg.png" alt="under">
     </div>
    </div> -->
    <img class= "construction_img" src="../../assets/images/under-construction-gif.png" alt="construction">
  </div>
