<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  <div>   
    <mat-grid-list cols="1" rowHeight="200:1">
      <mat-grid-tile>
        <div class = "image-div">
          <img class = "tradelogo" src="../../assets/images/tradebullz_logo.png" alt="Logo">
        </div>
        <!-- <div class="alert">
            <app-alert></app-alert>
        </div> -->
     </mat-grid-tile>        
    </mat-grid-list>
    
        <div class="main-div">
          <mat-card class="cardCss">
            <mat-card-header class="mat-card-div">
            <mat-card-title >Sign In</mat-card-title>
            <!-- <mat-card-subtitle>Sign in with your regular account</mat-card-subtitle>    -->
           </mat-card-header>
           <form class="example-form" [formGroup]="loginForm">
              <div>
                <mat-form-field class="example-full-width">
                  <mat-label for="email">Email</mat-label>
                  <input #username matInput type="username" id="email" placeholder="" formControlName="email" [ngClass]="{ 'is-invalid': f.email.dirty && f.email.errors }">
                    <!-- <app-form-error-container class="invalid-feedback"
                                                [control]="loginForm.get('email')">
                      <app-form-error type="required">
                            Email is required
                      </app-form-error>
                      <app-form-error type="maxlength">
                            Email length should be 100 characters
                      </app-form-error>
                      <app-form-error type="pattern">
                            Email id is invalid
                      </app-form-error>
                    </app-form-error-container> -->
                  </mat-form-field>
               </div>
               <!-- <section>
                <div id="lockedaccount" style="display:none;">
                  <app-alert-loginscreens></app-alert-loginscreens>
                </div>
              </section> -->
               <div>
                <mat-form-field class="example-full-width">
                    <mat-label for="passwd">Password</mat-label>
                    <input matInput type="password" placeholder="" id="passwd" formControlName="passwd" [ngClass]="{ 'is-invalid': f.passwd.dirty && f.passwd.errors }">
                    <!-- <app-form-error-container class="invalid-feedback"
                                [control]="loginForm.get('passwd')">
                        <app-form-error type="required">
                            Password is required
                        </app-form-error>
                    </app-form-error-container> -->
                </mat-form-field>
              </div>
              <!-- <section>
                <div id="wrongpassword" style="display:none;">
                  <app-alert-loginscreens></app-alert-loginscreens>
                </div>
              </section> -->
              <section>
                <div class="d-flex justify-content-end" style="margin-bottom: 10px;">
                  <a routerLink="/emailPassword" class="link-text">Forgot password?</a>    
                </div>
              </section>
              <section>
                <div class="matBtn">
                  <button class="btn btn-primary btn-block" color="primary" [disabled]="loginForm.invalid" (click)="onSubmit()">Log in<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span></button>
                </div>
              </section>
              <section>
                <div style="margin-top:10px">
                  <app-alert-loginscreens></app-alert-loginscreens>
                </div>
              </section>
              <section>
                <div class="reg-div" >
                  <mat-label>New to TradeBullz? </mat-label>
                  <span [routerLink]="['/']" fragment="pricing"><a class="reg-text" href="#pricing">Start </a></span> 
                  <mat-label>for free!</mat-label>
                </div>
              </section>
            </form> 
          </mat-card>
        </div>
  </div>
</body>
