<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <div>   
        <mat-grid-list cols="1" rowHeight="200:1">
            <mat-grid-tile>
                <div class = "image-div">
                    <img class = "tradelogo" src="../../assets/images/tradebullz_logo.png" alt="Logo">
                </div>
                <div class="alert">
                    <app-alert></app-alert>
                </div>
            </mat-grid-tile>        
        </mat-grid-list>
        <div class="view"> 
            <div class="main-div">
                <mat-card class="cardCss">
                    <mat-card-header class="mat-card-div">
                        <mat-card-title>Reset Password</mat-card-title>
                        <!-- <mat-card-subtitle>Enter the new password you want to set.*</mat-card-subtitle> -->
                    </mat-card-header>
                    <form class="example-form" [formGroup]="pswdForm" (ngSubmit)="submitDetails()">
                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-label for="password">Enter New Password<span class="required">*</span></mat-label>
                                <input #newPswd matInput type="password" id="password" formControlName="passwd" placeholder=""
                                  [ngClass]="{ 'is-invalid': pswdForm.get('passwd').dirty && pswdForm.get('passwd').invalid }">
                                        <app-form-error-container class="invalid-feedback"
                                                                  [control]="pswdForm.get('passwd')">
                                            <app-form-error type="required">
                                                Password is required.
                                            </app-form-error>
                                            <app-form-error type="minlength">
                                                Password must be at least 6 characters
                                            </app-form-error>
                                        </app-form-error-container>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-label>Confirm Your Password<span class="required">*</span></mat-label>
                                <input matInput type="password" id="cnfpassword" formControlName="cnfmPasswd" placeholder=""
                                [ngClass]="{ 'is-invalid': pswdForm && pswdForm.get('cnfmPasswd').dirty && pswdForm.hasError('confirmPassword') }"/>
                                        <app-form-error-container class="invalid-feedback" [group]="pswdForm">
                                            <app-form-error type="confirmPassword">
                                                Password and Confirm password didn't match
                                            </app-form-error>
                                            <app-form-error type="required">
                                                Password is required.
                                            </app-form-error>
                                        </app-form-error-container>
                            </mat-form-field>
                        </div>
                    </form>
                    <section>
                        <div class="matBtn">
                            <button class="btn btn-primary btn-block" color="primary" [disabled]="pswdForm.invalid"
                              (click)="submitDetails()">Reset Password<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span></button>
                        </div>
                    </section>
                </mat-card>
            </div>
        </div>
    </div>
</body>  

