<div class="tab-pane" id="billing">
    <div class="tab-pane active" id="profile">
        <h3 class="text-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round" class="feather feather-credit-card mr-2">
                <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                <line x1="1" y1="10" x2="23" y2="10"></line>
            </svg>
            Payment Settings
        </h3>
        <hr>
        <form>
            <div class="form-group">
                <label class="d-block mb-0">Payment Details</label>
                <div class="small text-muted mb-3">Post payment summary</div>
                <!-- <a class="btn btn-danger" type="button" (click)="pay();">Add Payment Method </a>         -->
                <!-- <google-pay-button
                    environment="TEST"
                    buttonType="buy"
                    buttonColor="white"
                    [paymentRequest]="paymentRequest"
                    (loadpaymentdata)="onLoadPaymentData($event)"
                    (error)="onError($event)"
                    [paymentAuthorizedCallback]="onPaymentDataAuthorized"
                    ></google-pay-button> -->
            </div>
            <div class="card-body tab-content">
                <router-outlet></router-outlet>
            </div>
<!--            <div class="form-group mb-0">-->
<!--                <label class="d-block">Payment History</label>-->
<!--                <div class="border border-gray-500 bg-gray-200 p-3 text-center font-size-sm">You have not made any-->
<!--                    payment.-->
<!--                </div>-->
<!--            </div>-->
        </form>
        
    </div>
</div>
